extends layout

block content
  h1= title
  if pageOwner
    p= pageOwner.display_name + "'s page."
    p This is where user data would be shown.
    if levelArray
      each level in levelArray
        li
          a(href='/lasergame?id=' + level.id) #{level.name} - #{level.upload_timestamp} - #{level.times_beaten}
  else
    p Something is wrong and there's nothing here!
